@model string


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Model

@Html.ActionLink("Login", "Index", "Login");

<br/>

@Html.ActionLink("Register", "Register", "Login");